form.features {
    fieldset {
        display: block;
        /* border: solid 0.1rem #f0f; */
        .check-group {
            margin-block-end: 0.5rem;
            input {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.check-group {
    display: flex;
    align-items: center;
    min-height: 2rem;
}