
@import "./_reset.css";
@import "./_typography.css";

:root {
    --color-marker: royalblue;
    --color-marker-food: orange;
    --color-marker-cafe: darkred;
    --color-marker-dessert: purple;
    --color-marker-bus: oklch(0.452 0.313214 264.052);
    --color-marker-rail: darkturquoise;
    --color-marker-utils: sandybrown;
    --color-marker-health: orangered;
    --color-marker-groceries: seagreen;

    --color-marker-fill: #fff;

    --spacer: 1rem;
}

html {
    font-family: 'InterVariable', var(--font-fallback-text);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HostGrotesk', var(--font-fallback-headings);
    font-weight: 625;
    font-stretch: 100%;
}
/* animate popover entry */
[popover] {
    display: none;
    opacity: 0;
    transition: 
        opacity 300ms,
        display 300ms allow-discrete,
        overlay 300ms allow-discrete;
    transition-behavior: allow-discrete;
    &:popover-open {
        display: block;
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
}

.container {
    max-width: 95rem;
    width: 90%;
    margin: 0 auto;
}