main {
    display: grid;
    grid-template-areas: 'map';
}

main > * {
    place-items: grid-start;
    grid-area: map;
}
.overlay {
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    width: 20rem;
    height: auto;
    margin: 5px 0 0 5px;
    padding: 5px;
    & fieldset {
        display: flex;
        flex-direction: column;
    }
}

#map {
    height: 98vh;
    width: 100%;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    z-index: 0;
}

#opacity-control {
    border-radius: 2px;
}

.marker {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    opacity: 0.75 !important;
    background-color: var(--color-marker);
    cursor: pointer;
    transform: scale(1.0);
    &:hover {
        opacity: 1 !important;
        transform: scale(1.1);
    }
}

.marker.layer_railway_station,
.marker.layer_station_subway {
    background-color: var(--color-marker-rail);
}
.marker.layer_amenity_restaurant,
.marker.layer_amenity_fast_food,
.marker.layer_amenity_food_court,
.marker.layer_amenity_bar {
    background-color: var(--color-marker-food);
}
.marker.layer_amenity_ice_cream,
.marker.layer_shop_confectionery,
.marker.layer_shop_chocolate,
.marker.layer_shop_pastry {
    background-color: var(--color-marker-dessert);
}
.marker.layer_amenity_cafe,
.marker.layer_shop_bakery {
    background-color: var(--color-marker-cafe);
}
.marker.layer_shop_supermarket,
.marker.layer_shop_greengrocer,
.marker.layer_shop_convenience,
.marker.layer_amenity_marketplace {
    background-color: var(--color-marker-groceries);
}
.marker.layer_shop_storage_rental,
.marker.layer_amenity_toilets,
.marker.layer_amenity_internet_cafe  {
    background-color: var(--color-marker-utils);
}
.marker.layer_amenity_pharmacy,
.marker.layer_amenity_hospital {
    background-color: var(--color-marker-health);
}