main {
    display: grid;
    grid-template-areas: 'map';
}

main > * {
    place-items: grid-start;
    grid-area: map;
}
.overlay {
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    width: 20rem;
    height: auto;
    margin: 5px 0 0 5px;
    padding: 5px;
    & fieldset {
        display: flex;
        flex-direction: column;
    }
}

#map {
    height: 98vh;
    width: 100%;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    z-index: 0;
}

#opacity-control {
    border-radius: 2px;
}

.marker {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    opacity: 0.75 !important;
    background-color: royalblue;
    cursor: pointer;
    transform: scale(1.0);
    &:hover {
        opacity: 1 !important;
        transform: scale(1.1);
    }
}


.marker.layer_amenity_toilets  {
    background-color: aquamarine;
}
.marker.layer_amenity_internet_cafe {
    background-color: aqua;
}
.marker.layer_shop_storage_rental {
    background-color: #ff00ff;
}