@import "../../node_modules/inter-ui/inter-variable.css";

:root {
  --font-fallback-text: system-ui, BlinkMacSystemFont,"Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
    --font-fallback-headings: system-ui, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

@supports (font-variation-settings: normal) {
  html { font-family: "InterVariable", var(--font-fallback-text); } /* If using the variable font */
}

@font-face {
    font-family: 'HostGrotesk';
    src: 
        url('../fonts/HostGrotesk-Variable-Roman.woff2') format('woff2 supports variations');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'HostGroteskItalic';
    src: 
        url('../fonts/HostGrotesk-VariabIe-Italic.woff2') format('woff2 supports variations');
    font-weight: 100 1000;
    font-display: swap;
}