@import "../../node_modules/inter-ui/inter-variable.css";

:root {
  --font-fallback-text: system-ui, BlinkMacSystemFont,"Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
    --font-fallback-headings: system-ui, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

@supports (font-variation-settings: normal) {
  html { font-family: "InterVariable", var(--font-fallback-text); } /* If using the variable font */
}

@font-face {
    font-family: 'HostGrotesk';
    src: 
        url('../fonts/HostGrotesk-Variable-Roman.woff2') format('woff2 supports variations');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'HostGroteskItalic';
    src: 
        url('../fonts/HostGrotesk-VariabIe-Italic.woff2') format('woff2 supports variations');
    font-weight: 100 1000;
    font-display: swap;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    margin-block-end: 0.5rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.15;
    margin-block-end: 0.575rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-block-end: 0.625rem;
}
h4 {
    font-size: 1.35rem;
    line-height: 1.25;
}
h5 {
    font-size: 1.15rem;
    line-height: 1;
}
h6 {
    font-size: 1rem;
    line-height: 1.5;
}