:root {
  --font-fallback: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

@font-face {
    font-family: 'PlexSans';
    src: 
        url('../fonts/IBM Plex Sans Var-Roman.woff2') format('woff2 supports variations'),
        url('../fonts/IBM Plex Sans Var-Roman.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'PlexSansItalic';
    src: 
        url('../fonts/IBM Plex Sans Var-Roman.woff2') format('woff2 supports variations'),
        url('../fonts/IBM Plex Sans Var-Roman.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'HostGrotesk';
    src: 
        url('../fonts/HostGrotesk[wght].ttf') format('ttf supports variations');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'HostGroteskItalic';
    src: 
        url('../fonts/HostGrotesk-Italic[wght].ttf') format('ttf supports variations');
    font-weight: 100 1000;
    font-display: swap;
}