@import "./_global.css"; 

.home-content {
    /* header, section {
        min-height: 45vh;
    } */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-content: stretch;
    min-height: 100dvh;
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-image: url('../images/banner-base-01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* anchor positioning */
        #search-cities {
            anchor-name: --header-anchor;
        }
    }
    #search-results {
        /* position: fixed;
        top: 50%;
        left: 50%;
        margin: 0 auto; */
        border: solid 0.1rem #000;
        margin: 0;
        margin-top: 2em;
        padding: 2em;
        width: 90%;
        max-width: 55rem;
        max-height: 30vh;
        overflow-y: auto;
        position: absolute;
        position-anchor: --header-anchor;
        position-area: y-end span-all;
        & article {
            margin-block-start: 1em;
            a {
                text-decoration: none;
            }
        }
    }
}