@import "maplibre-gl/dist/maplibre-gl.css";

main {
    display: grid;
    grid-template-areas: 'map';
}

main > * {
    place-items: center;
    grid-area: map;
}

.overlay {
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    width: 20rem;
    height: 10rem;
    margin: 5px 0 0 5px;
}

#map {
    height: 98vh;
    width: 100%;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    z-index: 0;
}

#opacity-control {
    border-radius: 2px;
}